{% extends 'base.html' %} {% block content %}
<div class = "jumbotron">
	<div class="btn-group" role="group" aria-label="Basic example">
<button type = "button" class= "btn btn-secondary">Add Wishlist</button>
<button type = "button" class= "btn btn-secondary">View Wishlist</button>
<button type = "button" class= "btn btn-secondary">Delete Wishlist</button>
</div>
<h1>You currently have no wishlist</h1>
<form method = "POST"> 

{{form.hidden_tag()}}
 <span class="input-group-text" id="basic-addon1">{{form.title.label}}{{form.title() }}</span>
{{form.submit()}}
</form>


</div>
{% endblock %}
