{% extends 'base.html' %} {% block content %}
<div class = "jumbotron">
	<div class="btn-group" role="group" aria-label="Basic example">
<a href= ><button type = "button" class= "btn btn-secondary">Add Wishlist</button></a>
<a href="{{ url_for('wishlist_posts.viewallw')}}"><button   type = "button" class= "btn btn-secondary">View Wishlist</button></a>
</div>

<form method = "POST"> 

{{form.hidden_tag()}}
 <span class="input-group-text" id="basic-addon1">{{form.title.label}}{{form.title() }}</span>
{{form.submit()}}
</form>


</div>
{% endblock %}
