GeekText_Team2/bin/
GeekText_Team2/include/
GeekText_Team2/lib/
GeekText_Team2/*.Python
GeekText_Team2/*.sqlite
GeekText_Team2/.vscode/
GeekText_Team2/__pycache__/
GeekText_Team2/*.json
GeekText_Team2/*.Python