{% extends "base.html" %}
{% block content %}

<style>
#prof_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.parallax {
  /* The image used */
  background-image: url("static/images/prof_background.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>


<div class="parallax">
	<div class="container py-5">

		<div class="row">
			<div class="col-md-3 ">
			     <div class="list-group ">
	              <a href="#" class="list-group-item list-group-item-action active">Profile</a>
	              <a href="#" class="list-group-item list-group-item-action">Wishlists</a>
	              <a href="#" class="list-group-item list-group-item-action">Shopping Cart</a>
								<a href="{{url_for('users.shipping_info')}}" class="list-group-item list-group-item-action">Shipping Info</a>
								<a href="#" class="list-group-item list-group-item-action">Payment info</a>
	              <a href="#" class="list-group-item list-group-item-action">Appearance</a>
	              <a href="#" class="list-group-item list-group-item-action">Reviews</a>
	              <a href="#" class="list-group-item list-group-item-action">Settings</a>


	            </div>
			</div>
			<div class="col-md-9">
			    <div class="card">
			        <div class="card-body">
			            <div class="row">
			                <div class="col-md-12">
			                    <h4 align="center">{{current_user.username}}'s Profile</h4>
	                        <img id="prof_img" src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}" alt="" class="rounded-circle" width=150, height=200 class="center">
													{% for message in get_flashed_messages() %}
	        									<div class="alert alert-warning">
	            								<button type="button" class="close" data-dismiss="alert">&times;</button>
	            									{{ message }}
	        									</div>
	      									{% endfor %}
			                    <hr>
			                </div>
			            </div>
			            <div class="row">
			                <div class="col-md-12">
			                    <form method="POST" action="" enctype="multipart/form-data">
	                            {{ form.hidden_tag() }}
	                              <div class="form-group row">
	                                <label for="username" class="col-4 col-form-label">User Name*</label>
	                                <div class="col-8">
	                                  {{ form.username(class="form-control here", required="required", type="text" ,placeholder="{{current_user.username}}") }}
	                                  <!--<input id="username" name="username" placeholder="{{current_user.username}}" class="form-control here" required="required" type="text">-->
	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="first_name" class="col-4 col-form-label">First Name*</label>
	                                <div class="col-8">
																		{{form.first_name(class="form-control here", required="required", type="text" ,placeholder="{{current_user.first_name}}")}}

	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="last-name" class="col-4 col-form-label">Last Name*</label>
	                                <div class="col-8">
																		{{form.last_name(class="form-control here", required="required", type="text" ,placeholder="{{current_user.last_name}}")}}

	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="email" class="col-4 col-form-label">Email*</label>
	                                <div class="col-8">
	                                  {{ form.email(class='form-control here', required="required",type="text", placeholder="{{current_user.email}}") }}
	                                  <!--<input id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">-->
	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="publicinfo" class="col-4 col-form-label">Public Info</label>
	                                <div class="col-8">
	                                  <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"></textarea>
	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="newpass" class="col-4 col-form-label">New Password</label>
	                                <div class="col-8">
	                                  <input id="newpass" name="newpass" placeholder="New Password" class="form-control here" type="text">
	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <label for="newpass" class="col-4 col-form-label">Profile Picture</label>
	                                <div class="col-8">
	                                  {{ form.picture(class='form-control-file') }}
	                                </div>
	                              </div>
	                              <div class="form-group row">
	                                <div class="offset-4 col-8">
	                                  {{ form.submit(class="btn btn-primary", type="submit") }}
	                                  <!--<button name="submit" type="submit" class="btn btn-primary">Update My Profile</button>-->
	                                </div>
	                              </div>
	                            </form>
			                </div>
			            </div>

			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
