{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="static/css/style.css" />

<div id="title">
    <a href="/">
        <img id="logo" src={{ url_for('static', filename='images/logo.png') }} />
    </a>



</div>
<div id="cartItems">
    <h2>Shopping Cart</h2>
    <div id="tableItems">
        {% for row in items %}
        <div>
            <hr id="seperator">
            <div id="itemImage">
                <img src={{row.image_url}} id="image" />
            </div>
            <div id="itemName">
                <a style="font-size:24px" href="#">{{row.title}}</a>
                <a href="/removeFromCart?ISBN={{row.ISBN}}" class="btn btn-primary">Remove</a>
            </div>
            <div id="itemPrice">
                <a style="font-size:24px" href="#">Price: ${{row.price}}</a>
            </div>
        </div>
        {% endfor %}
        <hr id="seperator">
        <div id="total">
            <a style="font-size:24px"><span id="subtotal">Subtotal</span> : ${{totalPrice}}</a>
</div>
    </div>
</div>

<div id="buttons">
    <a href="{{ url_for('cart.checkout')}}" class="btn btn-primary">Proceed to checkout</a>
    <a href="{{ url_for('cart.orderErase')}}" class="btn btn-primary">Delete orders entries</a>
    <hr id="seperator" />
</div>

<div id="savedItems">
    <h2>Saved for later</h2>
    <div id="tableItems">
        {% for row in savedItems %}
        <div>
            <hr id="seperator">
            <div id="itemImage">
                <img src={{row.image_url}} id="image" />
                <a style="font-size:24px" href="#">{{row.title}}</a>
                <a href="/moveToCart?ISBN={{row.ISBN}}" class="btn btn-primary">Add to cart</a>
                <a href="/removeFromSaved?ISBN={{row.ISBN}}" class="btn btn-primary">Remove</a>
            </div>
        </div>
        {% endfor %}
        <hr id="seperator">
    </div>
</div>

{% endblock %}

