{% extends 'base.html' %} {% block content %}

<link rel="stylesheet" href="static/css/style.css" />

<div class="container" id="title">
    <a href="/">
        <img id="logo" src={{ url_for('static', filename='images/logo.png') }} />
    </a>



</div>
<div id="cartItems">
    <h2>Orders</h2>
    <div id="tableItems">
        {% for row in items %}
        <div>
            <hr id="seperator">
            <div id="item">
                <img src="{{row.image_url}}" alt="..." class="img-responsive" style="width: 72px; height: 100px;" />
                <a style="font-size:24px" href="#">{{row.title}}</a>
                <a style="font-size:24px" href="#">Price: ${{row.price}}</a>
            </div>
        </div>
        {% endfor %}
        <hr id="seperator">
        <div id="total">
            <a style="font-size:24px"><span id="subtotal">Subtotal</span> : ${{totalPrice}}</a>
        </div>
    </div>
</div>

<form action="{{url_for('cart.charge')}}" method="POST">

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ public_key }}"
            data-description="A Flask Charge"
            data-amount="{{totalPrice*100}}"
            data-locale="auto"></script>
</form>
{% endblock %}