{% extends 'base.html' %}
{% block content %}
<body style="background-image: url('static/images/book_back.jpg')">

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Geek Text!</h1>
      <p class="lead">Where geeks and book freaks get together to read and discuss the latest books.</p>
      <a href="#" class="btn btn-primary btn-lg">Check us out!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/images/library1.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Find The Latest Hits</h4>
            <p class="card-text">Search our massive library for the latest books!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/images/reading_img.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Read The Latest Books</h4>
            <p class="card-text">Purchase books physically or digitally and have them available anywhere! anytime!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/images/discuss.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Talk About It</h4>
            <p class="card-text">Discuss the latest books with like minded geeks!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="static/images/rate_img.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Rate All Your Reads</h4>
            <p class="card-text">Rate books as a community and earn bookworms for in store bonusses!</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Geek Text 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  

</body>
{% endblock %}
