<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->

	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="static/css/signup_style.css">

    .form-label-group input::-webkit-input-placeholder {
      color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
      color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
      color: transparent;
    }

    .form-label-group input::-moz-placeholder {
      color: transparent;
    }

    .form-label-group input::placeholder {
      color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
      padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
      padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
      padding-top: calc(var(--input-padding-y) / 3);
      padding-bottom: calc(var(--input-padding-y) / 3);
      font-size: 12px;
      color: #777;
    }

    .btn-google {
      color: white;
      background-color: #ea4335;
    }

    .btn-facebook {
      color: white;
      background-color: #3b5998;
    }

    .modal-footer {   border-top: 0px; }

  </style>

  <body id="reg-nav">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">
                &times;
              </button>
              {{ message }}
            </div>
            {% endfor %}
            <h5 class="card-title text-center text-dark">Login</h5>
            <form class="form-signin" method="POST">
              {{ form.hidden_tag()}}
              <div class="form-label">
                {{form.email( id="inputUserame", class="form-control", placeholder="Email")}}
                {% for error in form.email.errors %}
                <li style='color:red;'>{{error}}</li>
                {% endfor %}
                <label for="inputUserame">Email</label>
              </div>

              <div class="form-label">
                {{form.password( id="inputUserame", class="form-control", placeholder="Password")}}
                {% for error in form.password.errors %}
                <li style='color:red;'>{{error}}</li>
                {% endfor %}
                <label for="inputPassword">Password</label>
              </div>
              <!--<span id="passwordHelpBlock" class"help-block text-center"><a href"{{url_for('users.forgot_password')}}">Forgot Password?</a></span>-->
              <a id="passwordHelpBlock" class="d-block text-center mt-2 medium" data-target="#pwdModal" data-toggle="modal" href="#">Forgot Password?</a>
              <hr class="my-4">
              {{form.submit( class="btn btn-lg btn-secondary bg-dark btn-block text-uppercase")}}
              <a class="d-block text-center mt-2 medium" href="{{url_for("users.register")}}">Register</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <!--modal-->
<div id="pwdModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" style="background-color: #343a40;">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h1 class="text-center" style="color:black;">What's My Password?</h1>
      </div>
      <div class="modal-body"style="background-color: #343a40;">
          <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                          <form action="{{url_for('users.forgot_password')}}" method="POST">
                            {{forgot_form.hidden_tag()}}
                            <p>If you have forgotten your password you can reset it here.</p>
                              <div class="panel-body">
                                  <fieldset>
                                      <div class="form-group">
                                        {{forgot_form.email(class="form-control input-lg", placeholder="E-mail Address")}}
                                      </div>
                                      {{forgot_form.submit(class="btn btn-lg btn-success btn-block", value="Send My Password")}}

                                  </fieldset>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>
      </div>
  </div>
  </div>
</div>
</html>

</head>
{% extends 'base.html' %}
{% block content %}
<body>
<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form method="POST">
          {{ form.hidden_tag() }}
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						{{ form.email() }}
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						{{ form.password() }}
					</div>

					<div class="row align-items-center remember">
						<input type="checkbox">Remember Me
					</div>

					<div class="form-group">
						{{ form.submit() }}
					</div>

				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="#">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="#">Forgot your password?</a>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}
</html>
