{% extends 'base.html' %}
{% block content %}

<style>
#prof_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.parallax {
  /* The image used */
  background-image: url("static/images/prof_background.jpg");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*#ad_card {display:inline-block;}*/
</style>

<div class="parallax">
  <div class="container py-5">

    <div class="row">
      <div class="col-md-3 ">
           <div class="list-group ">
                <a href="{{url_for('users.account')}}" class="list-group-item list-group-item-action">Profile</a>
                <a href="#" class="list-group-item list-group-item-action">Wishlists</a>
                <a href="#" class="list-group-item list-group-item-action">Shopping Cart</a>
                <a href="{{url_for('users.shipping_info')}}" class="list-group-item list-group-item-action active">Shipping Info</a>
                <a href="#" class="list-group-item list-group-item-action">Payment info</a>
                <a href="#" class="list-group-item list-group-item-action">Appearance</a>
                <a href="#" class="list-group-item list-group-item-action">Reviews</a>
                <a href="#" class="list-group-item list-group-item-action">Settings</a>


              </div>
      </div>
      <div class="col-md-9">
          <div class="card">
              <div class="card-body">
                  <div class="row">
                      <div class="col-md-12">
                          <h4 align="center">{{current_user.first_name}}'s Shippment Information</h4>
                          <img id="prof_img" src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}" alt="" class="rounded-circle" width=150, height=200 class="center">
                          {% for message in get_flashed_messages() %}
                            <div class="alert alert-warning">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ message }}
                            </div>
                          {% endfor %}
                          <hr>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <h1>Main Address</h1>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-12">
                        <div class="card-columns">
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                          <div id='ad_card' class="card" style="max-width: 319px;">
                            <div class="card-body">
                              <h5 class="card-title">Address</h5>
                              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                              <a href="#" class="card-link">Card link</a>
                              <a href="#" class="card-link">Another link</a>
                            </div>
                          </div>
                        </div>
                        </div>
                  </div>

              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
