{% extends "base.html" %} 
{% block content %}

<div class="container-full" style="margin: 0% auto; width: 100%; background-image: url(../../../static/images/sci-fi.jpg); background-size: 50%">

  <div class="container h-100" style="background: whitesmoke">
    <h1 style="color: rgb(71, 67, 67); text-align: center; font-size: 68px">Sci-Fi</h1>
  
    <div class="row 50%">
      <div class="col-4">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort By:
          </button>
          <!-- SORT BY DROPDOWN LIST -->
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{{ url_for('books.list', sort_by='price') }}">Price Low-High</a>
          <a class="dropdown-item" href="{{ url_for('books.list', sort_by='author') }}">Author Name A-Z</a>
          <a class="dropdown-item" href="{{ url_for('books.list', sort_by='title') }}">Book Title A-Z</a>
          <a class="dropdown-item" href="{{ url_for('books.list', sort_by='average_rating') }}">Ratings Low-High</a>
          </div>
        </div>
    </div>
    
    <div class="col-4">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Genre
        </button>
        <!-- GENRE DROPDOWN LIST -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('books.list', genre='all') }}">All</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Autobiography') }}">Autobiography</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Comics') }}">Comics</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Drama') }}">Drama</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Fantasy') }}">Fantasy</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='History') }}">History</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Satire') }}">Satire</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Sci-Fi') }}">Sci-Fi</a>
        <a class="dropdown-item" href="{{ url_for('books.genre', genre='Science') }}">Science</a>

        </div>
      </div>
    </div>

    <!-- BROWSE LIST -->
    <div class="row h-100">
  
      {% for book in books %}

      <!--BOOK ITEM COLUMN-->
      <div class="col-md-6">
        <!-- ITEM CARD -->
        <div class="card mb-3">
          <!-- ITEM ROWS -->
          <div class="row no-gutters">
            <!-- IMAGE COLUMN -->
            <div class="col-sm-1">
              <a href="#">
                <img
                  src="{{ book.image_url }}"
                  class="card-img-overlay"
                  width="auto"
                  height="auto"
                  alt="..."
                />
              </a>
            </div>
            <!-- ITEM TEXT COLUMN -->
            <div class="col-sm-8">
              <div class="card-body">
  
                <p class="text-right">
                    <a style="font-size:32px" href="#">{{ book.title }}</a>
                </p>
  
                <p class="text-right">
                    <a style="font-size:14px" href="#">by {{ book.author }}</a>
                </p>
  
                <p class="text-right">
                  <small class="text-muted"
                    >Published in {{ book.publication_year }}
                  </small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!--PRICE COLUMN-->
      <div class="col-md-3">
  
        <div class="col-md-8 text-center" style="font-size:32px">
            <p style="color: rgb(71, 67, 67)"><strong>${{ book.price }}</strong></p>
        </div>
        <div class="col-md-8 text-center">
            <p style="color: rgb(71, 67, 67)">Average Rating: {{ book.average_rating }}</p>
        </div>
        <div class="col-md-8 text-center">
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
  
        <div class="col-md-8 text-center">
          <a href="#" class="btn btn-secondary">Add to Wishlist</a>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
