{% extends "base.html" %} 
{% block content %}

<div class="container-full" style="margin: 0% auto; width: 100%; background-image: url(../../../static/images/science.jpg); background-size: 50%">

  <div class="container" style="background: whitesmoke; height: 100%;">


    <div class="jumbotron">
      <h1 style="color: rgb(71, 67, 67); text-align: center; font-size: 68px">Science</h1>
    </div>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-sm">
        {% for book in books %}

        <!--BOOKS-->
        <div class="jumbotron jumbotron">
          <div class="container">
            <div class="row">
              <!--IMAGE COL-->
              <div class="col-2">
                <a href="#">
                  <img
                    src="{{ book.image_url }}"
                    class="card-img-overlay"
                    width="auto"
                    height="auto"
                    alt="..."
                  />
                </a>
              </div>
              <!--DESCRIPTION COL-->
              <div class="col-6" style="font-size:32px">
                <h1 class="display-4"><a style="font-size:32px" href="#">{{ book.title }}</a>
                </h1>
                <p class="lead"><a style="font-size:14px" href="#">by {{ book.author }}</a></p>
              </div>
              <div class="col-4 text-center">
                <p style="color: rgb(71, 67, 67); font-size: 32px"><strong>${{ book.price }}</strong></p>
                <p style="color: rgb(71, 67, 67)">{{ book.average_rating }} &#9733</p>
                <div class="btn-group-vertical">
                  <a href="#" class="btn btn-primary">Add to Cart</a>
                  <a href="#" class="btn btn-secondary">Add to Wishlist</a>                
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <!--SIDE MENUS-->
      <div class="col-2" style="border: 1px solid #666; border-radius: 15px; height: 420px">

        <!--GENRE MENU-->
        <nav class="nav flex-column">
          <a class="nav-link" href="{{ url_for('books.list') }}">All</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Autobiography') }}">Autobiography</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Comics') }}">Comics</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Drama') }}">Drama</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Fantasy') }}">Fantasy</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='History') }}">History</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Satire') }}">Satire</a>
          <a class="nav-link" href="{{ url_for('books.genre', genre='Sci-Fi') }}">Sci-Fi</a>
          <a class="nav-link disabled" href="#">Science</a>
          <!-- SORT BY DROPDOWN LIST -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sort By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('books.genre', genre='science', sort_by='price') }}">Price Low-High</a>
            <a class="dropdown-item" href="{{ url_for('books.genre', genre='science', sort_by='author') }}">Author Name A-Z</a>
            <a class="dropdown-item" href="{{ url_for('books.genre', genre='science', sort_by='title') }}">Book Title A-Z</a>
            <a class="dropdown-item" href="{{ url_for('books.genre', genre='science', sort_by='average_rating') }}">Ratings Low-High</a>
            </div>
          </div>
        </nav>
      </div>

      <div class="col-1"></div>
  </div>
</div>

{% endblock %}
